.course-navigation {
    width: 100%;
    padding: 15px 15px 10px 15px;
    background-color: #E1E1E1;
}

.course-navigation-title {
    color: #434343;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.course-navigation-item-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.course-navigation-item-list {
    display: none;
}

.course-navigation-item-list.active {
    display: block;
    padding-left: 15px;
}

.course-navigation-item-list-title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-navigation-item-list-href {
    text-decoration: none;
    color: #434343;
}

.course-navigation-item-list-href:hover {
    color: #FF4300;
    text-decoration: underline;
}