.personal-data-container-row-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.personal-data-container-title {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #434343;
    font-size: 22px;
    font-weight: 600;
}