.burger-menu {
    display: none;
    background-color: #E1E1E1;
}

.burger-menu.active {
    display: block;
    background-color: #E1E1E1;
}

@media screen and (min-width: 800px) {
    .burger-menu.active {
        display: none;
    }
}

.burger-menu-list {
    width: 100%;
    padding-left: 0;
}

.burger-menu-element {
    list-style-type: none;
}

.burger-menu-button {
    display: flex;
    background-color: #E1E1E1;
    border-bottom: 1px solid #5E5E5E;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;

    text-decoration: none;
    color: #434343;
    font-size: 16px;
    font-weight: 600;
}

.burger-menu-button:hover {
    background-color: #FF4300;
    color: white;
    transition-duration: 0.2s;
}