.course-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}

.column-course-container {
    display: flex;
}

.course-column-1 {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.course-column-2 {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
}

.course-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #FF4300;
    font-size: 38px;
    font-weight: 600;
}

.course-content-container {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: #E1E1E1;
}

.course-content-title {
    color: #272727;
    font-size: 24px;
    font-weight: 600;
}

.course-content-item {
    margin-bottom: 15px;
    margin-top: 15px;
}

.course-content-item-name {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #272727;
}

.course-content-item-name:hover {
    color: #FF4300;
}

.material-symbols-outlined.icon {
    color: #FF4300;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .column-course-container {
        display: block;
    }

    .course-column-1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .course-column-2 {
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
    .course-column-1 {
        width: 35%;
    }

    .course-column-2 {
        width: 65%;
    }
}