.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #5E5E5E;
}

.footer-content {
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 25px;
    padding-right: 25px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 600;
}

.contacts-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.copyright-content {
    padding-top: 50px;
}