.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 15px;
    padding-right: 15px;
    height: 130px;
    flex-shrink: 0;
}

.heading {
    color: #434343;
    padding-right: 10px;
    padding-left: 10px;
    flex-shrink: 0;

    font-size: 24px;
    font-weight: 600;
}

.login-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    flex-shrink: 0;

    color: #FF4300;
    font-size: 24px;
    font-weight: 600;
}

.login-button:hover {
    background-color: #E1E1E1;
    transition-duration: 0.2s;
}