.list-content-container {
    padding-right: 15px;
    padding-left: 15px;
}

.list-content-container-row-1 {
    display: flex;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .list-content-container-row-1 {
        flex-direction: column;
    }

    .list-content-list {
        flex-direction: column;
    }

    .list-content-item {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
    .list-content-container-row-1 {
        flex-direction: column;
    }
}

.list-content-content-empty {
    padding-right: 10px;
    padding-left: 10px;
    color: #434343;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.list-content-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: #FF4300;
    font-size: 38px;
    font-weight: 600;
}

.list-content-list {
    display: flex;
    flex-wrap: wrap;
}

.list-content-item {
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    flex-basis: 50%;
}

.list-content-card {
    border: 2px solid #E1E1E1;
    cursor: pointer;
    height: 100%;
}

.list-content-card:hover {
    border: 2px solid #FF4300;
    transition-duration: 0.2s;
}

.list-content-card-date {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #666666;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
}

.list-content-card-title {
    margin: 15px;
    padding-right: 20px;
    user-select: none;

    color: #434343;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    overflow: hidden;
}

.list-content-card-image {
    display: block;
    width: 100%;
}

.list-content-card-content {
    margin: 15px;

    color: #434343;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
}

.list-content-container-row-2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.list-content-container-row-3 {
    padding-left: 25px;
    padding-right: 25px;
}

.list-content-load-more {
    height: 50px;
    width: 100%;
    background-color: #E1E1E1;
    cursor: pointer;
    border: none;
    color: #FF4300;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-weight: 600;
}

.list-content-load-more:hover {
    background-color: #FF4300;
    color: #FFFFFF;
    transition-duration: 0.2s;
}