.roles-list-content {
    display: flex;
    margin-bottom: 15px;
}

.roles-list-content-text {
    color: #434343;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
}

.roles-list-container {
    display: flex;
    flex-direction: column;
}

.roles-list-item {
    font-size: 18px;
    font-weight: 600;
    color: #434343;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .roles-list-content-text {
        width: 30%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1099px) {
    .roles-list-content-text {
        width: 100px;
    }
}