.roles-list-content {
    display: flex;
    margin-bottom: 15px;
}

.roles-list-content-text {
    color: #434343;
    font-size: 18px;
    font-weight: 600;
    width: 25%;
}

.roles-list-container {
    display: flex;
}

.roles-list-item {
    font-size: 18px;
    font-weight: 600;
    color: #434343;
}

.roles-list-item {
    margin-right: 5px;
}

@media screen and (min-width: 0px) and (max-width: 1099px) {
    .roles-list-content {
        display: block;
    }
    .roles-list-content-text {
        width: 100%;
    }
}