.courses-menu {
    width: 100%;
    background-color: #E1E1E1;
    margin-bottom: 30px;
}

.courses-menu-title {
    display: flex;
    padding: 15px;
    border-bottom: solid 2px #434343;
    align-items: center;

    color: #434343;
    font-size: 22px;
    font-weight: 600;
}

.courses-menu-body {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.courses-menu-item-title {
    display: flex;
    padding-bottom: 15px;
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.courses-menu-item-title-for-student-lock {
    display: flex;
    padding-bottom: 15px;
    color: #434343;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.courses-menu-item-title:hover {
    color: #FF4300;
}

.courses-menu-item-list {
    display: none;
}

.courses-menu-item-list.active {
    display: block;
}

.courses-menu-item-list-title {
    padding-bottom: 5px;
    display: flex;
    font-size: 18px;
    width: 100%;
}

.courses-menu-item-list-title-no-curses {
    padding-bottom: 15px;
    padding-left: 7px;
    color: #272727;
    display: flex;
    font-size: 18px;
    width: 100%;
}

.courses-menu-item-list-title::before {
    content: "■";
    color: #434343;
    padding-right: 7px;
}

.courses-menu-item-list-title:last-child {
    padding-bottom: 15px;
}

.courses-menu-item-list-href {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #272727;
}

.courses-menu-item-list-href:hover {
    color: #FF4300;
    text-decoration: underline;
}