.breadcrumb-container {
    display: flex;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

.breadcrumb-item {
    color: #666666;
    font-size: 18px;
}

.breadcrumb-item:not(:first-child)::before {
    content: "■";
    padding: 0 7px;
}

.breadcrumb-text {
    color: #666666;
    font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .breadcrumb-container.with-margin {
        margin-top: 30px;
    }

    .breadcrumb-container {
        margin-top: 0;
    }
}
