.single-content-container {
    padding-right: 15px;
    padding-left: 15px;
}

.single-content-date {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #666666;
}

.single-content-text {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #272727;
    text-align: justify;
    font-size: 18px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.single-content-contact-us {
    padding-right: 10px;
    padding-left: 10px;
}

.single-content-contact-us-text {
    margin-bottom: 30px;
    line-height: 1.5;
    color: #272727;
    text-align: justify;
    font-size: 18px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.single-content-hyperlink {
    word-break: break-all;
}

.single-content-count-images {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #666666;
}

.single-content-slider {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    max-width: 100%;
}

.single-content-slider.with-margin-bottom-30 {
    margin-bottom: 30px;
}

.single-content-slider-image {
    display: block;
    max-width: 100%;
}

.single-content-slider-left {
    font-size: 50px;
    color: white;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
}

.single-content-slider-right {
    font-size: 50px;
    color: white;
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
}

@media screen and (min-width: 1100px) {
    .single-content-slider {
        width: fit-content;
    }
}

@media screen and (min-width: 0px) and (max-width: 799px) {
    .single-content-heading {
        font-size: 28px;
    }
    .single-content-date {
        font-size: 22px;
    }
}