.roles-list-content {
    display: flex;
    margin-bottom: 15px;
}

.roles-list-content-text {
    color: #434343;
    font-size: 18px;
    font-weight: 600;
    width: 25%;
}

.roles-list-container {
    width: 75%;
}

.roles-list-items {
    display: flex;
    width: fit-content;
}

.roles-list-item {
    font-size: 18px;
    font-weight: 600;
    color: #434343;
    margin-right: 10px;
}

@media screen and (min-width: 0px) and (max-width: 1099px) {
    .roles-list-items {
        flex-direction: column;
        float: right;
    }
    .roles-list-item {
        margin-bottom: 10px;
        margin-right: 0;
    }
}