.account-load-more-button {
    height: 50px;
    width: 100%;
    background-color: #FF4300;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-weight: 600;
}

.account-load-more-button:hover {
    background-color: #b73000;
    transition-duration: 0.2s;
}

.account-load-more-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}