.course-container-container-row-2 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.course-container-container-row-3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.course-container-description {
    margin-bottom: 15px;
    line-height: 1.5;
    color: #272727;
    text-align: justify;
    font-size: 18px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.course-container-file-list {
    margin-bottom: 15px;
}

.course-container-chapter-title {
    display: flex;
    cursor: pointer;
    user-select: none;
    padding-bottom: 15px;
    color: #434343;
    font-size: 22px;
    font-weight: 600;
}

.course-container-chapter-title:hover {
    color: #FF4300;
}