.other-news-container {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
}

.other-news-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: #FF4300;
    font-size: 38px;
}

.other-news-column-1 {
    margin-right: 8%;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    min-height: 1px;
}

.other-news-column-2 {
    margin-left: 8%;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    min-height: 1px;
}

.other-news-list {
    display: flex;
}

.other-news-item {
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
}

.other-news-card {
    padding: 15px;
    border: 2px solid #E1E1E1;
    font-size: 24px;
}

.other-news-card:hover {
    border: 2px solid #FF4300;
    transition-duration: 0.2s;
}