.account-page-button {
    margin-top: 25px;
    width: 100%;
    background: #FF4300;
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.account-page-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.account-page-button:hover {
    background-color: #b73000;
    transition-duration: 0.2s;
}